{% extends 'base.html.twig' %}

{% block title %}New AddCollTransac{% endblock %}

{% block body %}
    <h1>Create new AddCollTransac</h1>

    {{ include('gestapp/transaction/add_coll_transac/_form.html.twig') }}

    <a href="{{ path('app_gestapp_transaction_add_coll_transac_index') }}">back to list</a>
{% endblock %}
