<div class="row mb-1 mt-1 g-1">
    <div class="col-3">
        <b>{{ form_label(form.name, 'Titre', {'label_attr': {'class':'form-label'}}) }}</b>
    </div>
    <div class="col-9">
        {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'titre de la page'}}) }}
    </div>
</div>\