{% extends 'admin.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block contentTitle %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Modifier la fiche du client</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
{{ include('gestapp/customer/_form2.html.twig', {'button_label': 'Mettre à jour la fiche du client'}) }}
{% endblock %}
