{% extends 'admin.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block content %}
    <h1>Modifier la fiche du client</h1>

    {{ include('gestapp/customer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('op_gestapp_customer_index') }}">back to list</a>

{% endblock %}
