<div class="row mt-2">
    <div class="col-sm-2">
        <button type="button" class="btn btn-sm btn-outline-warning" data-bs-toggle="modal" data-bs-target="#addCustomer" data-bs-whatever="{{ idproperty }}">
            Ajouter un vendeur<br>
            sur ce bien.
        </button>
    </div>
    <div class="col-sm-10">
        <div id="listeCustormers" class="row">
            {{ include('gestapp/customer/_listecustomers.html.twig') }}
        </div>
    </div>
</div>



