<div class="row mt-2">
    <div class="col-sm-3">
        <button type="button" class="btn btn-sm btn-outline-warning w-100" data-bs-toggle="modal" data-bs-target="#addCustomer" data-bs-whatever="{{ idproperty }}">
            Ajouter un vendeur<br>
            sur ce bien.
        </button>
        <hr>
        <div class="card text-dark bg-light">
            <div class="card-body">
                <p>
                    <b>Rechercher </b>un vendeur
                </p>
                {{ render(controller('App\\Controller\\Gestapp\\CustomerController::listsearchcustomer', {'idproperty': idproperty})) }}
            </div>
        </div>

    </div>
    <div class="col-sm-9">
        <div id="listeCustormers" class="row">
            {% include 'gestapp/customer/_listecustomers.html.twig' with {'idproperty': idproperty} %}
        </div>
    </div>
</div>



