<section class="property-edit">
    <div class="row mt-2">
        <div class="col-sm-3">
            <button type="button" class="btn btn-sm btn-outline-warning w-100" data-bs-toggle="modal" data-bs-target="#addCustomer" data-bs-whatever="{{ property.id }}">
                Ajouter un vendeur<br>
                sur ce bien.
            </button>
            <hr>
            <div class="card text-dark bg-light">
                <div class="card-body">
                    <p>
                        <b>Rechercher </b>un vendeur
                    </p>
                    {{ render(controller('App\\Controller\\Gestapp\\CustomerController::listsearchcustomer', {'idproperty': property.id })) }}
                </div>
            </div>

        </div>
        <div class="col-sm-9">
            <div id="listeCustomers" class="row g-1">
                {% include 'gestapp/customer/_listecustomers.html.twig' with {'idproperty': property.id } %}
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="mt-1">
                <a id="previousCustomer" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour</a>
                <button type="submit" id="stepCustomers" class="btn btn-sm btn-outline-primary">{{ button_label|default("Valider et passer à l'étape chiffres") }}</button>
            </div>
        </div>
    </div>
</section>