{% extends 'admin.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block contentTitle %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Ajouter un nouveau client sur la plateforme</h1>
        </div>
    </div>

{% endblock %}

{% block content %}
{{ include('gestapp/customer/_form2.html.twig') }}
{% endblock %}
