{% extends 'admin.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block content %}
    <h1>Ajouter un nouveau client sur la plateforme</h1>

    {{ include('gestapp/customer/_form.html.twig') }}

    <a href="{{ path('op_gestapp_customer_index') }}">Retour</a>
{% endblock %}
