<div class="card rounded-1">
    <div class="card-header">
        <h5 class="card-title mb-0">Mes Recos</h5>
    </div>
    <div class="card-body">
        <p class="mb-0">{{ recos|length }}</p>
    </div>
</div>
<div class="card rounded-1">
    <div class="card-header">
        <h5 class="card-title mb-0">Mes Gains</h5>
    </div>
    <div class="card-body">
        <p class="mb-0">{{ recos|length }} €</p>
    </div>
</div>