<h1>[PAPs Immo] : Un document attends votre approbation</h1>
<h3>Transaction n°: {{ transaction.name }}</h3>
<hr>
<h4>Bonjour,</h4>
<p>
    Dans le cadre d'une transaction immobilière, l'un de vos collaborateurs à déposer un document : {{ transaction.promisePdfFilename }}.
    En cliquant sur le lien suivant vous pourrez-le controler.
    <br>
    <a href="https://{{ url }}{{ path("op_gestapp_transaction_show2", {'id': transaction.id}) }}">Accès à la fiche de vente</a>
</p>
