{% extends 'admin.html.twig' %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <h5>Demande de support</h5>
            <hr>
            <p>
                <b>Bonjour {{ app.user.firstName }} {{ app.user.lastName }}</b><br>
                Pour toute demande de support, veuillez completer le formulaire ci-dessous en précisant les détails de votre besoin.<br>Nous mettrons en oeuvre une réponse adaptée dans les plus brefs délais.
            </p>
            <p>Sinon, vous pouvez contacter le développeur au 07.87.99.42.80</p>
            {{ include('admin/mail/_form.html.twig') }}
        </div>
    </div>

{% endblock %}



