{% extends 'base.html.twig' %}

{% block title %}Edit propertyFamily{% endblock %}

{% block body %}
    <h1>Edit propertyFamily</h1>

    {{ include('gestapp/choice/property_family/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gestapp_choice_property_family_index') }}">back to list</a>

    {{ include('gestapp/choice/property_family/_delete_form.html.twig') }}
{% endblock %}
