<div class="d-flex justify-content-between">
    <h6 class="text-start">Liste des Transactions</h6>
    <p class="text-end"><a id="addPropertyBanner" href="" data-bs-toggle="modal" data-bs-target="#modalTransaction"><i class="fa-regular fa-circle-plus fa-lg"></i></a></p>
</div>
<div id="listFamily">
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>Nom</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for property_family in property_families %}
            <tr>
                <td>{{ property_family.name }} <small>({{ property_family.code }})</small></td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
