{% extends 'base.html.twig' %}

{% block title %}New propertyFamily{% endblock %}

{% block body %}
    <h1>Create new propertyFamily</h1>

    {{ include('gestapp/choice/property_family/_form.html.twig') }}

    <a href="{{ path('app_gestapp_choice_property_family_index') }}">back to list</a>
{% endblock %}
