    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Parcelle</th>
                <th>Section</th>
                <th>Code commune</th>
                <th>Contenance / surface</th>
            </tr>
        </thead>
        <tbody>
        {% for cadaster in cadasters %}
            <tr>
                <td>{{ cadaster.parcel }}</td>
                <td>{{ cadaster.Section }}</td>
                <td>{{ cadaster.commune }}</td>
                <td>{{ cadaster.contenance }}</td>
            </tr>
        {% else %}
        {% endfor %}
        </tbody>
    </table>
