{% extends 'base.html.twig' %}

{% block title %}New Cadaster{% endblock %}

{% block body %}
    <h1>Create new Cadaster</h1>

    {{ include('gestapp/cadaster/_form.html.twig') }}

    <a href="{{ path('app_gestapp_cadaster_index') }}">back to list</a>
{% endblock %}
