{{ form_start(form) }}
<div class="row mt-2">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                INFORMATION GENERALE DE LA PLATEFORME
            </div>
            <div class="card-body">
                {% include('include/form/input.html.twig') with {
                    'form_label':form_label(form.nameSite, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                    'form_input':form_widget(form.nameSite, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom du site'}})
                }
                %}

                {% include('include/form/input.html.twig') with {
                    'form_label':form_label(form.sloganSite, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                    'form_input':form_widget(form.sloganSite, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Slogan du site'}})
                }
                %}

                {% include('include/form/textarea.html.twig') with {
                    'form_label':form_label(form.descrSite, '', {'label_attr': {'class':'col-sm-2 col-form-label'}}),
                    'form_text':form_widget(form.descrSite, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Description'}})
                }
                %}
                <hr>
                {% include('include/form/input.html.twig') with {
                    'form_label':form_label(form.adminWebmaster, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                    'form_input':form_widget(form.adminWebmaster, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Nom & prénom' }})
                }
                %}

                {% include('include/form/input.html.twig') with {
                    'form_label':form_label(form.adminEmail, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                    'form_input':form_widget(form.adminEmail, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'adresse mail'}})
                }
                %}

            </div>
        </div>
        <div class="card mt-2">
            <div class="card-header">Galery</div>
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                {% include('include/form/oneSwitch.html.twig') with {
                    'form_label':form_label(form.isBlockmenufluid, '', {'label_attr': {'class':'form-check-label'}}),
                    'form_switch':form_widget(form.isBlockmenufluid, {'attr': {'class': 'form-check-input'}})
                }
                %}

                {% include('include/form/oneSwitch.html.twig') with {
                    'form_label':form_label(form.isShowtitlesitehome, '', {'label_attr': {'class':'form-check-label'}}),
                    'form_switch':form_widget(form.isShowtitlesitehome, {'attr': {'class': 'form-check-input'}})
                }
                %}
                <hr>
                {% include('include/form/input.html.twig') with {
                    'form_label':form_label(form.urlFacebook, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                    'form_input':form_widget(form.urlFacebook, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Page Facebook'}})
                }
                %}

                {% include('include/form/input.html.twig') with {
                    'form_label':form_label(form.urlInstagram, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                    'form_input':form_widget(form.urlInstagram, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Page Instagram'}})
                }
                %}

                {% include('include/form/input.html.twig') with {
                    'form_label':form_label(form.urlLinkedin, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                    'form_input':form_widget(form.urlLinkedin, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Page Linkedin'}})
                }
                %}

                {% include('include/form/input.html.twig') with {
                    'form_label':form_label(form.urlGooglebusiness, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
                    'form_input':form_widget(form.urlGooglebusiness, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Page Google Business'}})
                }
                %}
            </div>
        </div>
    </div>


</div>
<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                MODE HORS-LIGNE
            </div>
            <div class="card-body">
                {% include('include/form/oneSwitch.html.twig') with {
                    'form_label':form_label(form.isOnline, '', {'label_attr': {'class':'form-check-label'}}),
                    'form_switch':form_widget(form.isOnline, {'attr': {'class': 'form-check-input'}})
                }
                %}
                <hr>
                {% include('include/form/oneSwitch.html.twig') with {
                    'form_label':form_label(form.isShowofflinemessage, '', {'label_attr': {'class':'form-check-label'}}),
                    'form_switch':form_widget(form.isShowofflinemessage, {'attr': {'class': 'form-check-input'}})
                }
                %}

                {% include('include/form/oneSwitch.html.twig') with {
                    'form_label':form_label(form.isShowofflinelogo, '', {'label_attr': {'class':'form-check-label'}}),
                    'form_switch':form_widget(form.isShowofflinelogo, {'attr': {'class': 'form-check-input'}})
                }
                %}

                {% include('include/form/textarea.html.twig') with {
                    'form_label':form_label(form.offlineMessage, '', {'label_attr': {'class':'col-sm-2 col-form-label'}}),
                    'form_text':form_widget(form.offlineMessage, {'attr': {'class': 'form-control form-control-sm', 'placeholder':'Description'}})
                }
                %}
            </div>
        </div>
    </div>
</div>
<button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_widget(form) }}

{{ form_end(form) }}
