{% extends 'admin.html.twig' %}

{% block title %}Edit Application{% endblock %}

{% block content %}

    <h1>Paramètres de l'application</h1>

    {{ include('admin/application/_form.html.twig', {'button_label': "Mettre à jour les informations de l'application"}) }}


{% endblock %}
