<form method="post" action="{{ path('app_gestapp_choice_property_definition_delete', {'id': property_definition.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property_definition.id) }}">
    <button class="btn">Delete</button>
</form>
