{% extends 'base.html.twig' %}

{% block title %}Edit PropertyDefinition{% endblock %}

{% block body %}
    <h1>Edit PropertyDefinition</h1>

    {{ include('gestapp/choice/property_definition/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gestapp_choice_property_definition_index') }}">back to list</a>

    {{ include('gestapp/choice/property_definition/_delete_form.html.twig') }}
{% endblock %}
