/* **
* REGLES GENERALES
** */
@media print {
  .new-page {
    page-break-before: always;
  }
}

.limited-p {
  width: 100%; /* Largeur de la div */
  line-height: 1.3em; /* Hauteur de ligne */
  height: 100%; /* Hauteur pour 3 lignes (1.5em * 3) */
  overflow: hidden; /* Cache le contenu débordant */
  text-overflow: ellipsis; /* Ajoute des points de suspension */
  display: -webkit-box;
  -webkit-line-clamp: 20; /* Limite à 3 lignes */
  -webkit-box-orient: vertical;
}

.title-h1 {
  color: $primary-color;
  font-family: "spinnaker", sans-serif;
  font-weight: 700;
  line-height: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
}

.title-h2 {
  background-image: $pdf-puceH3;
  background-repeat: no-repeat;
  padding-left: 1rem;
  line-height: 1.2rem;
  height: 1.2rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: left;
}
.title-h3 {
  height: 2rem;
  line-height: 1.5;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: $secondary-color;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.title-price {
  color: $secondary-color-dark;
  font-family: "spinnaker", sans-serif;
  font-weight: 700;
  line-height: 2.5rem;
  height: 2.5rem;
  font-size: 2.4rem;
}
.subtitle {
  font-family: "comfortaa-light", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  color: #01A5A0;
}
p{
  font-family: "comfortaa-light", sans-serif;
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 0.5rem;
}
table{
  thead{
    background-color: $secondary-color;
    color: #ffffff;
  }
  tr{
    th{
      font-family: "comfortaa-light", sans-serif;
      font-weight: bold;
      font-size: 0.8rem;
      text-transform: uppercase;
      text-align: left;
      color: $secondary-color;
    }
    td{
      font-family: "comfortaa-light", sans-serif;
      font-size: 0.8rem;
      text-align: left;
      text-transform: lowercase;
    }
  }
}

#client{
  width:980px;
  height:1200px;
  .page{
    border: $secondary-color solid 1px;
    border-radius: 0.5rem;
    .fiche{
      .table{
        .head{
          background-color: #c4c4c4;
        }
        .head-second{
          font-size: 0.8rem;
        }
        td{
          font-size: 0.8rem;
        }
      }
      #DiagnosticCard {
        border: 1px solid $primary-color;
        border-radius: .2rem;
        h4,h5{
          margin-top: 0;
          margin-bottom:0.5rem;
        }
        p{
          margin-top:0.5rem;
          margin-bottom: 0.5rem;
        }
        .diag_ener{
          display: flex;
          align-items: center;
          list-style: none;
          padding-left:0;
        }
        .c-dpe__index {
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          width: 2.5rem;
          height: 2.5rem;
          margin-right: .2rem;
          color: #fff;
          font-weight: 400;
          font-size: 1.5rem;
          border: 0 solid;
          border-radius: .2rem;
          overflow: visible;
        }

        .diag_ener .dpe-A {
          background-color: #029163;
        }
        .diag_ener .dpe-B {
          background-color: #46a64a;
        }
        .diag_ener .dpe-C {
          background-color: #6db56b;
        }
        .diag_ener .dpe-D {
          background-color: #f2e314;
        }
        .diag_ener .dpe-E {
          background-color: #edab0f;
        }
        .diag_ener .dpe-F {
          background-color: #e8782f;
        }
        .diag_ener .dpe-G {
          background-color: #d1201e;
        }

        .diag_ener .dpe-A1 {
          background-color: #99d5f7;
        }
        .diag_ener .dpe-B1 {
          background-color: #80abcd;
        }
        .diag_ener .dpe-C1 {
          background-color: #6d87a8;
        }
        .diag_ener .dpe-D1 {
          background-color: #546384;
        }
        .diag_ener .dpe-E1 {
          background-color: #434665;
        }
        .diag_ener .dpe-F1 {
          background-color: #332d47;
        }
        .diag_ener .dpe-G1 {
          background-color: #231a2f;
        }

        .diag_ener .dpe-active {
          width: 2.9rem;
          height: 2.9rem;
          font-weight: 500;
          border-radius: 0.2rem;
        }
        .diag_ener .dpe_l {
          position: absolute;
          top: calc(100% + 1.2rem);
          left: 50%;
          z-index: 10;
          color: #2f2f2f;
          font-size: 0.7rem;
          line-height: 0.8rem;
          transform: translateX(-50%);
          white-space: nowrap;
        }
        .diag_ener .dpe_l::before {
          content: "";
          position: absolute;
          bottom: calc(100% + .4rem);
          left: calc(50% - .3rem);
          border-right: .3rem solid transparent;
          border-bottom: .3rem solid;
          border-left: .3rem solid transparent;
        }
        .diag_ener.dpe_u {
          position: absolute;
          top: 100%;
          left: 0;
          font-weight: 400;
          font-size: 1rem;
        }
      }
    }
    .technique{
      .table{
        .head{
          background-color: #97c3b6;
        }
        .head-second{
          font-size: 0.8rem;
        }
        td{
          font-size: 0.8rem;
        }
      }
    }
  }
}

#portrait{
  width:980px;
  height:1200px;
  .page{
    border: $secondary-color solid 1px;
    border-radius: 0.5rem;
    #DiagnosticCard {
      //position: absolute;
      //bottom: 1.8rem;
      border: 1px solid $primary-color;
      border-radius: .2rem;
      h4,h5{
        margin-top: 0;
        margin-bottom:0.5rem;
      }
      p{
        margin-top:0.5rem;
        margin-bottom: 0.5rem;
      }
      .diag_ener{
        display: flex;
        align-items: center;
        list-style: none;
        padding-left:0;
      }
      .c-dpe__index {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: .2rem;
        color: #fff;
        font-weight: 400;
        font-size: 0.9rem;
        border: 0 solid;
        border-radius: .2rem;
        overflow: visible;
      }

      .diag_ener .dpe-A {
        background-color: #029163;
      }
      .diag_ener .dpe-B {
        background-color: #46a64a;
      }
      .diag_ener .dpe-C {
        background-color: #6db56b;
      }
      .diag_ener .dpe-D {
        background-color: #f2e314;
      }
      .diag_ener .dpe-E {
        background-color: #edab0f;
      }
      .diag_ener .dpe-F {
        background-color: #e8782f;
      }
      .diag_ener .dpe-G {
        background-color: #d1201e;
      }

      .diag_ener .dpe-A1 {
        background-color: #99d5f7;
      }
      .diag_ener .dpe-B1 {
        background-color: #80abcd;
      }
      .diag_ener .dpe-C1 {
        background-color: #6d87a8;
      }
      .diag_ener .dpe-D1 {
        background-color: #546384;
      }
      .diag_ener .dpe-E1 {
        background-color: #434665;
      }
      .diag_ener .dpe-F1 {
        background-color: #332d47;
      }
      .diag_ener .dpe-G1 {
        background-color: #231a2f;
      }

      .diag_ener .dpe-active {
        width: 1.7rem;
        height: 1.7rem;
        font-weight: 500;
        border-radius: 0.2rem;
      }
      .diag_ener .dpe_l {
        position: absolute;
        top: calc(100% + 1.2rem);
        left: 50%;
        z-index: 10;
        color: #2f2f2f;
        font-size: 0.7rem;
        line-height: 0.8rem;
        transform: translateX(-50%);
        white-space: nowrap;
      }
      .diag_ener .dpe_l::before {
        content: "";
        position: absolute;
        bottom: calc(100% + .4rem);
        left: calc(50% - .3rem);
        border-right: .3rem solid transparent;
        border-bottom: .3rem solid;
        border-left: .3rem solid transparent;
      }
      .diag_ener.dpe_u {
        position: absolute;
        top: 100%;
        left: 0;
        font-weight: 400;
        font-size: 1rem;
      }
    }
    .fiche{


    }
  }
}

.landscape {
  width:1200px;
  height:980px;
  /* to centre page on screen*/
  //margin-left: 19px;
  //margin-right: 19px;
  border: $secondary-color solid 1px;
  border-radius: 0.5rem;

  .page{
    width: 100%;
    height: 100%;
    .header{
      min-height: 144px;
      max-height: 144px;
      p{
        color: $secondary-color;
        margin-bottom: 0.5rem;
      }
    }

    .fiche{
      width: 100%;
      height:846px;
      overflow: hidden;
      #imgs{
        min-height: 280px;
        max-height: 280px;
        //display: block; /* Supprime l'espace en dessous de l'image */
        margin: auto; /* Centre l'image si elle est plus petite que le conteneur */
      }
      .contents{
        height: 566px;
        .property_annonce{
          height: 566px;
          position: relative;
          .annonce_down{
            position: absolute;
            bottom: 1.4rem;
          }
        }
        .property_equipment{
          position:relative;
          .table{

          }
          #DiagnosticCard {
            position: absolute;
            bottom: 1.8rem;
            border: 1px solid $primary-color;
            border-radius: .2rem;
            h4,h5{
              margin-top: 0;
              margin-bottom:0.5rem;
            }
            p{
              margin-top:0.5rem;
              margin-bottom: 0.5rem;
            }
            .diag_ener{
              display: flex;
              align-items: center;
              list-style: none;
              padding-left:0;
            }
            .c-dpe__index {
              display: flex;
              position: relative;
              align-items: center;
              justify-content: center;
              width: 1.5rem;
              height: 1.5rem;
              margin-right: .2rem;
              color: #fff;
              font-weight: 400;
              font-size: 0.9rem;
              border: 0 solid;
              border-radius: .2rem;
              overflow: visible;
            }

            .diag_ener .dpe-A {
              background-color: #029163;
            }
            .diag_ener .dpe-B {
              background-color: #46a64a;
            }
            .diag_ener .dpe-C {
              background-color: #6db56b;
            }
            .diag_ener .dpe-D {
              background-color: #f2e314;
            }
            .diag_ener .dpe-E {
              background-color: #edab0f;
            }
            .diag_ener .dpe-F {
              background-color: #e8782f;
            }
            .diag_ener .dpe-G {
              background-color: #d1201e;
            }

            .diag_ener .dpe-A1 {
              background-color: #99d5f7;
            }
            .diag_ener .dpe-B1 {
              background-color: #80abcd;
            }
            .diag_ener .dpe-C1 {
              background-color: #6d87a8;
            }
            .diag_ener .dpe-D1 {
              background-color: #546384;
            }
            .diag_ener .dpe-E1 {
              background-color: #434665;
            }
            .diag_ener .dpe-F1 {
              background-color: #332d47;
            }
            .diag_ener .dpe-G1 {
              background-color: #231a2f;
            }

            .diag_ener .dpe-active {
              width: 1.7rem;
              height: 1.7rem;
              font-weight: 500;
              border-radius: 0.2rem;
            }
            .diag_ener .dpe_l {
              position: absolute;
              top: calc(100% + 1.2rem);
              left: 50%;
              z-index: 10;
              color: #2f2f2f;
              font-size: 0.7rem;
              line-height: 0.8rem;
              transform: translateX(-50%);
              white-space: nowrap;
            }
            .diag_ener .dpe_l::before {
              content: "";
              position: absolute;
              bottom: calc(100% + .4rem);
              left: calc(50% - .3rem);
              border-right: .3rem solid transparent;
              border-bottom: .3rem solid;
              border-left: .3rem solid transparent;
            }
            .diag_ener.dpe_u {
              position: absolute;
              top: 100%;
              left: 0;
              font-weight: 400;
              font-size: 1rem;
            }
          }
        }
        .property_annonce{}
      }

    }
  }
}








