<div class="d-flex justify-content-between">
    <h6 class="text-start">Liste des sous rubriques</h6>
    <p class="text-end"><a id="addPropertyBanner" href="" data-bs-toggle="modal" data-bs-target="#modalRubricss"><i class="fa-regular fa-circle-plus fa-lg"></i></a></p>
</div>
<div id="listRubricss">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for property_rubricss in property_rubricsses %}
            <tr>
                <td>{{ property_rubricss.name }} ({{ property_rubricss.code }})</td>
                <td>
                    <a href="{{ path('app_gestapp_choice_property_rubricss_show', {'id': property_rubricss.id}) }}"><i class="fa-duotone fa-eye"></i></a>
                    <a href="{{ path('app_gestapp_choice_property_rubricss_edit', {'id': property_rubricss.id}) }}"><i class="fa-duotone fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>