{% extends 'base.html.twig' %}

{% block title %}New propertyRubricss{% endblock %}

{% block body %}
    <h1>Create new propertyRubricss</h1>

    {{ include('gestapp/choice/property_rubricss/_formAddMandant.html.twig') }}

    <a href="{{ path('app_gestapp_choice_property_rubricss_index') }}">back to list</a>
{% endblock %}
