body
{
  font-family: 'Montserrat';
  display: grid;
  grid-template-rows: auto 1fr auto;
  #oneproperty_header
  {
    position: relative;
    top: -69px;
    background: #ffffff90;
  }

  h1,h2,h3
  {
    font-weight:400;
    color: $secondary-color;
  }
  p{
    font-family: 'Montserrat';
  }

}

