/**

   REGLES GENERALES

**/
body{
  .h1,.h2,.h3, h1, h2, h3 {
    color: $secondary-color;
    font-weight: 400;
  }
  blockquote {
    color : #d1d1d1;
    font-style: italic;
    text-align: right;
  }

}

a.nav-link {
  font-family: 'Montserrat-light', sans-serif;
  font-size: 15px;
  color: #707070;
  color: rgb(112, 112, 112);
  text-transform: uppercase;
}
.tel{
  color: $primary-color;
}

#op_page_header{

}

#oneproperty_header
{
  position: relative;
  top: -69px;
  background: #ffffff90;
}

#lastproperties {
  background: $secondary-color;
  .container{
    background: #ffffff;
    position:relative;
    #section_title{
      position: relative;
      z-index:2;
    }
  }
  .container::before{
    content: "";
    background-color: #ffffff;
    border-bottom-right-radius: 100px;
    position: absolute;
    top: 0;
    width: calc(100% + calc(100vw - 1320px));
    height: 100%;
    left: calc(calc(1320px - 100vw) / 2);
    right: calc(calc(100vw - 1320px) / 2);
  }
  h2, h3{
    color: $secondary-color;
    font-family: 'Montserrat-light', sans-serif;
    text-align: center;
    text-transform: uppercase;
  }
  .flickity-prev-next-button.previous {
    left: -100px;
  }
  .flickity-prev-next-button.next {
    right: -100px;
  }
}

#prez_papsimmo {
  background: $secondary-color;
  padding-top:1rem;
  padding-bottom:1rem;
  h2, h3 {
    color: #ffffff;
    font-family: 'Montserrat-light', sans-serif;
    font-size: 45px;
  }
  #onearticle {
    color: #ffffff;
    font-family: 'Montserrat-regular', sans-serif;
    font-size: 15px;
  }
}

#actu_papsimmo{
  position: relative;
  background: $secondary-color;
  .container{
    background: #ffffff;
    position:relative;
    #section_title{
      position: relative;
      z-index:2;
    }
  }
  .container::before{
    content: "";
    background-color: #ffffff;
    border-top-left-radius: 100px;
    position: absolute;
    top: 0;
    width: calc(100% + calc(100vw - 1320px));
    height: 100%;
    left: calc(calc(1320px - 100vw) / 2);
    right: calc(calc(100vw - 1320px) / 2);
  }
  h2{
    font-family: Montserrat-light,sans-serif;
    font-size: 2rem;
    left: -12rem;
    position: absolute;
    rotate: -90deg;
    text-transform: uppercase;
    top: 14rem;
  }
  .card{
    background: transparent;
    border-radius:0 0 0 0;
    border: none;
    .card-img-top {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .card-title{
      font-size :1rem;
      color: $secondary-color-dark;
      font-family: 'Montserrat-regular', sans-serif;
    }
    .card-body{
      p{
        color:$secondary-color;
        font-size: 0.8rem;
        font-family: "Montserrat-light", "sans-serif";
      }
    }
  }
  .actu_overlay{
    position: absolute;
    top:10px;
    left:10px;
    width:calc(100% - 20px);
    height: calc(100% - 20px);
    border: #fff 2px solid;
    border-radius: 5px;
  }
}



