<tr class="align-middle" id="rowPromiseDate">
    <td class="table-light">Date de signature du compromis</td>
    {{ render(controller('App\\Controller\\Gestapp\\TransactionController::addDatePromise', {'id' : transaction.id})) }}
</tr>