<tr class="align-middle" id="rowActePdf">
    <td class="table-light">Attestation "Acte de vente": </td>
    {{ render(controller('App\\Controller\\Gestapp\\TransactionController::addActePdf', {'id' : transaction.id})) }}
</tr>