<tr class="align-middle" id="rowActeDate">
    <td class="table-light">Date de signature de l'acte</td>
    {{ render(controller('App\\Controller\\Gestapp\\TransactionController::addDateActe', {'id' : transaction.id})) }}
</tr>