<div class="card text-dark bg-light">
    <div class="card-body">
        {{ form_start(form, {'attr': {'id': 'addPhoto'}}) }}

        {{ form_widget(form) }}

        {{ form_end(form) }}
        <div class="mt-1">
            <button type="button" id="btnAddPhoto" class="btn btn-sm btn-outline-primary">{{ button_label|default('Ajouter') }}</button>
        </div>
    </div>
</div>


