{% extends 'admin.html.twig' %}

{% block title %}Edit Page{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){



        }
    </script>
{% endblock %}

{% block content %}
    <section>
        <div class="row">
            <div class="col-12">
                <h1>Gestion de la page</h1>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-4">
                <div class="card text-dark bg-light">
                    <div class="card-body">
                        {{ include('webapp/page/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                </div>
            </div>
            <dic class="col-8">
                {{ render(controller('App\\Controller\\Webapp\\SectionController::bypage', {'idpage':page.id})) }}
            </dic>
        </div>
    </section>
{% endblock %}
