{% extends 'admin.html.twig' %}

{% block title %}New Page{% endblock %}

{% block content %}
    <h1>Créer une nouvelle page.</h1>

    {{ include('webapp/page/_formAddMandant.html.twig') }}

    <a href="{{ path('op_webapp_page_index') }}">Retour à la liste</a>
{% endblock %}
