{% extends 'base.html.twig' %}



{% block title %}
    {% if not page.seoTitle %}
        {{ page.name }}
    {% else %}
        {{ page.seoTitle }}
    {% endif %}
{% endblock %}

{% block content %}

<section id="page-header" class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{ page.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <article>{{ page.description|raw }}</article>
        </div>
    </div>
</section>
<section id="page-content">

</section>
<section id="page-footer">

</section>

{% endblock %}