{% extends 'base.html.twig' %}

{% block title %}New propertyRubric{% endblock %}

{% block body %}
    <h1>Create new propertyRubric</h1>

    {{ include('gestapp/choice/property_rubric/_formAddMandant.html.twig') }}

    <a href="{{ path('app_gestapp_choice_property_rubric_index') }}">back to list</a>
{% endblock %}
