{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1>Hello World</h1>
        </div>
    </div>
</section>
{% endblock %}
