<html>
    <body style="font-family: comfortaa-light, sans-serif">
        <div>
            <h1 style="text-align: center">{{ article.name }}</h1>
        </div>
        <div>
            {{ article.content|raw }}
        </div>
    </body>
</html>
