{% extends 'admin.html.twig' %}

{% block title %}PAPS immo - Edition d'article{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){
            // Partie génération PDF
            // ---------------------
            // I. Génération sur le clic bouton
            document.getElementById('ChangePDF').onclick = function(event){
                event.preventDefault()
                var a = event.relatedTarget
                let url = this.href
                axios
                    .post(url)
                    .then(function(response){
                        console.log("Ok")
                        document.getElementById("pdfrendered").innerHTML = response.data.lien;
                    })
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h1>Edition d'un nouvel article</h1>
        </div>
    </div>
    {{ include('webapp/articles/_formAddMandant.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}



