{% extends 'admin.html.twig' %}

{% block title %}Articles index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function(){

            // Code d'ouverture de la modale de suppression d'une ligne
            var Suppr = document.getElementById('Suppr')
            Suppr.addEventListener('show.bs.modal', function (event) {
                var a = event.relatedTarget
                var recipient = a.getAttribute('data-bs-whatever')
                var modalTitle = Suppr.querySelector('.modal-title')
                var modalText = Suppr.querySelector('.modal-text')
                var modalBodyInput = Suppr.querySelector('.modal-body input')
                modalTitle.textContent = "Suppression d'un article"
                modalBodyInput.value = recipient
                modalText.innerHTML = "Vous êtes sur le point de supprimer l'article sélectionné.<br><b>Etes-vous sur de continuer ?</b>"
            })

            // Code de suppression lors du clic sur le bouton de la modal "Suppr"
            function onClickDelEvent(event){
                event.preventDefault()
                const id = document.getElementById('recipient-name').value
                axios
                    .post('/webapp/articles/del/'+ id)
                    .then(function(response)
                    {
                        // rafraichissement du tableau
                        const liste = document.getElementById('liste').innerHTML = response.data.liste
                        // Ajout d'un event sur Bouton de suppression dans la fenêtre modale
                        document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                            link.addEventListener('click', onClickDelEvent)
                        })
                        // préparation du toaster
                        var option = {
                            animation : true,
                            autohide: true,
                            delay : 3000,
                        };
                        // initialisation du toaster
                        var toastHTMLElement = document.getElementById("toaster");
                        var message = response.data.message;
                        var toastBody = toastHTMLElement.querySelector('.toast-body') // selection de l'élément possédant le message
                        toastBody.textContent = message;
                        var toastElement = new bootstrap.Toast(toastHTMLElement, option);
                        toastElement.show();
                    })
                    .catch(function(error){
                        console.log(error);
                    })
            }

            // ------------------------------------------------------
            // Déclaration des différents Events présent sur la page
            // ------------------------------------------------------
            // Ajout d'un event sur Bouton de suppression dans la fenêtre modale
            document.querySelectorAll('a.js-data-suppr').forEach(function(link){
                link.addEventListener('click', onClickDelEvent)
            })

        }
    </script>
{% endblock %}

{% block content %}
    <h1>Articles index</h1>

    <a href="{{ path('op_webapp_articles_new') }}" class="btn btn-sm btn-outline-primary btnPostAddArticle">Ajouter un article</a>

    <div id="liste">
        {{ include('webapp/articles/include/_liste.html.twig') }}
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <section>
        <div class="modal fade" id="addProductCategory" tabindex="-1" aria-labelledby="addProductCategory" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter une catégorie :</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-primary js-add-category" data-bs-dismiss="modal">Publier</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Suppr" tabindex="-1" aria-labelledby="Suppr" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger" id="exampleModalLabel">New message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="modal-text">Vous êtes sur le point de supprimer l'évènement.</p>
                        <input type="hidden" id="recipient-name">
                    </div>
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-danger js-data-suppr" data-bs-dismiss="modal">Supprimer</a>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
        {# annonce toaster #}
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container position-absolute top-50 end-0 p-3">
                <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">PAPS immo</strong>
                        <small>A l'instant</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Hello, world! This is a toast message.
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}