{% extends 'admin.html.twig' %}

{% block title %}PAPS immo - Edition d'article{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h1>Edition d'un nouvel article</h1>
        </div>
    </div>
    {{ include('webapp/articles/_formAddMandant.html.twig') }}
{% endblock %}




