<form method="post" action="{{ path('op_admin_employed_delete', {'id': employed.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employed.id) }}">
    <button class="btn">Delete</button>
</form>
