{% extends 'admin.html.twig' %}

{% block title %}New Employed{% endblock %}
{% block stylesheets%}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>Create new Employed</h1>

    {{ include('admin/employed/_form.html.twig') }}
{% endblock %}
