<table class="table table-borderless w-100">
    <thead>
        <tr>
            <td colspan="2">{{form(form)}}</td>
            <td><a id="search_customers_rechercher" href="{{path('op_gestapp_customer_searchcustomer', {'idproperty':idproperty})}}" class="btn btn-sm btn-warning"><i class="fa-light fa-magnifying-glass"></i></a></td>
        </tr>
    </thead>
    <tbody id="listeSearchCustomers">
    {{ include('gestapp/customer/search/_liste.html.twig')}}
    </tbody>
</table>