<div class="card text-black bg-light">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h4>Les SECTIONS de la page</h4>
                <hr>
            </div>
        </div>
        <div id="liste">
            {% include('webapp/section/_liste.html.twig') %}
        </div>

    </div>
</div>


