{% extends 'admin.html.twig' %}

{% block title %}Edit Reco{% endblock %}

{% block contentTitle %}
    <div class="row">
        <div class="col-12">
            <h1>Proposition de recommandation</h1>
        </div>
    </div>
{% endblock %}
{% block content %}

    {{ include('gestapp/reco/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('op_gestapp_reco_index') }}">back to list</a>

    {{ include('gestapp/reco/_delete_form.html.twig') }}
{% endblock %}
