{% extends 'prescriber.html.twig' %}

{% block title %}New Reco{% endblock %}

{% block content %}
    <section id="op_page_content" style="position:relative; top:60px;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Ajouter une Recommandation</h3>
                </div>
            </div>

            {{ include('gestapp/reco/_form2.html.twig') }}

            <a class="btn btn-sm btn-outline-dark" href="{{ path('op_gestapp_reco_index_prescripteur') }}">retour à la liste des recommandations</a>
        </div>
    </section>
{% endblock %}
