<div class="navigation d-flex justify-content-between">
    <div class="mb-1">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <button id="addNewProperty" class="btn btn-sm btn-outline-primary">Ajouter un nouveau bien</button>
            |
            <button class="btn btn-sm btn-outline-dark" id="btnListDiffusion">Afficher les diffusions des biens</button>
            <button class="btn btn-sm btn-outline-dark" id="btnListArchived">Afficher les biens archivés</button>
            |
            <a class="btn btn-sm btn-outline-warning" id="SupprRows" href="">Archiver les biens sélectionnés</a>
        {% else %}
            <button id="addNewProperty" class="btn btn-sm btn-outline-primary">Ajouter un nouveau bien</button>
            <button class="btn btn-sm btn-outline-dark" id="btnListDiffusion">Afficher les diffusions des biens</button>
        {% endif %}
    </div>
</div>