{% extends 'admin.html.twig' %}

{% block title %}New Project{% endblock %}

{% block content %}
    <h1>Create new Project</h1>

    {{ include('gestapp/project/_form.html.twig') }}

    <a href="{{ path('op_gestapp_project_index') }}">back to list</a>
{% endblock %}
