$primary-color : #7d1715;
$secondary-color: #2a565f;

$side-small: 4rem;
$side-large: 12rem;
//*** ------------- Import Styles from FrameWork ---------------- ***//
@import "bootswatch/dist/yeti/variables";
@import "~bootstrap/scss/bootstrap";
@import "bootswatch/dist/yeti/bootswatch";
@import '~@fortawesome/fontawesome-free/css/all.css';

//*** ------------- Import Styles from admin ---------------- ***//
@import "scss/admin/common";
@import "scss/admin/table";
@import "scss/admin/pagination";
@import "scss/admin/side";

//*** ------------- Import Styles from FrameWork ---------------- ***//
//@import "scss/mixins/fontface";


