$primary-color : #7d1715;
$secondary-color: #069697;
$secondary-color-dark: #29565f;

$font-primary: "Montserrat-regular", sans-serif;
$font-primary-light: "Montserrat-light", sans-serif;

$dpe-A:#029163;
$dpe-B:#46a64a;
$dpe-C:#6db56b;
$dpe-D:#f2e314;
$dpe-E:#edab0f;
$dpe-F:#e8782f;
$dpe-G:#d1201e;

$dpe-A1:#99d5f7;
$dpe-B1:#80abcd;
$dpe-C1:#6d87a8;
$dpe-D1:#546384;
$dpe-E1:#434665;
$dpe-F1:#332d47;
$dpe-G1:#231a2f;


@import "~bootstrap/scss/bootstrap";
//*** ------------- Import Styles from admin ---------------- ***//
@import "scss/public/body";
@import "scss/public/header";
@import "scss/public/main";
@import "scss/public/footer";
@import "scss/public/ckeditor";
//*** ------------- Import Styles from FontAwesome ---------------- ***//
@import '~@fortawesome/fontawesome-free/css/all.css';
//*** ------------- Import fonts ---------------- ***//
@import "scss/mixins/fontface";
@include fontface('Montserrat-regular', '../../fonts/Montserrat-regular/montserrat-regular', 300, normal);
@include fontface('Montserrat-light', '../../fonts/Montserrat-light/Montserrat-light', 300, normal);

