$primary-color : #7d1715;
$secondary-color: #069697;
$secondary-color-dark: #29565f;

$pdf-puceH3: url('../../images/svg/pucePdf.svg');
$page-width: 1080px;
$page-height:1980px;

@import "scss/pdf/custom";
//*** ------------- Import Styles from FontAwesome ---------------- ***//
@import '~@fortawesome/fontawesome-free/css/all.css';
//*** ------------- Import fonts ---------------- ***//
@import "scss/mixins/fontface";
@include fontface('Comfortaa', '../../fonts/comfortaa/Comfortaa', 300, normal);
@include fontface('Comfortaa-bold', '../../fonts/comfortaa/Comfortaa-Bold', 300, normal);
@include fontface('Spinnaker-Regular', '../../fonts/spinnaker/Spinnaker-Regular', 300, normal);


