<div class="d-flex justify-content-between">
    <h6 class="text-start">Liste des bannières</h6>
    <p class="text-end"><a id="addPropertyBanner" href=""><i class="fa-regular fa-circle-plus fa-lg"></i></a></p>
</div>
<div id="listBanner">
    {{ include('gestapp/choice/property_banner/_listbanner.html.twig') }}
</div>

