//*** ------------- définition des règles pouir les Div "side" et "content" ---------------- ***//
$width-side-small: 4rem;
$width-side-large: 12rem;
$width-content-small : calc(100% - 4rem);
$width-content-large: calc(100% - 12rem);

a {
  color: $primary-color;
}

.ts-control {
  padding: 6px 6px !important;
  border-radius: 3px !important;
}

.card-img-overlay {
  position: absolute;
  right: 0 !important;
  bottom: 0 !important;
  padding: 0.5rem !important;
  border-radius: 0;
}


//*** ------------- Screen de type "sm" et inférieur ---------------- ***//
@media (max-width: 767.98px) {
  body{
    font-size: 0.8rem;
  }

  #side{
    width: $width-content-small;
    height: 100vh;
  }
  #content{
    width: auto;
    height: 100vh;
  }

  #listephoto{
    .card-img-overlay {
      position: absolute;
      right: 0 !important;
      bottom: 0 !important;
      padding: 0.5rem !important;
      border-radius: 0;
    }
  }
}
//*** ------------- Screen de type "sm" et inférieur ---------------- ***//
@media (min-width: 768px) {
  body{
    font-size: 0.9rem;
  }
  #side{
    width: $width-side-large;
    height: 100vh;
  }
  #content{
    width: $width-content-large;
    height: 100vh;
    overflow-y: scroll;
  }
  #listephoto{
    .card-img-overlay {
      position: absolute;
      right: 0 !important;
      bottom: 0 !important;
      padding: 0.5rem !important;
      border-radius: 0;
    }
  }
}

