//*** ------------- définition des règles pouir les Div "side" et "content" ---------------- ***//
$width-side-small: 4rem;
$width-side-large: 12rem;
$width-content-small : calc(100% - 4rem);
$width-content-large: calc(100% - 12rem);

a {
  color: $primary-color;
}

.ts-control {
  padding: 6px 6px !important;
  border-radius: 3px !important;
}

.card-img-overlay {
  position: absolute;
  right: 0 !important;
  bottom: 0 !important;
  padding: 0.5rem !important;
  border-radius: 0;
}

.pagination {
  margin-top: 0;
  margin-bottom: 0 !important;
}

#FormMandat{
  .text-danger{
    color: $primary-color !important;
  }
  p{
    margin-bottom: 0.2rem;
  }
}

#Gallery{
  .card{
    .card-body{
      p{
       margin-bottom: 0;
      }
    }
  }
}

//*** ------------- Screen de type "sm" et inférieur ---------------- ***//
@media (max-width: 767.98px) {
  body{
    font-size: 0.8rem;
  }

  #side{
    width: $width-content-small;
    height: 100vh;
  }
  #content{
    width: auto;
    height: 100vh;
  }

  #listephoto{
    .card-img-overlay {
      position: absolute;
      right: 0 !important;
      bottom: 0 !important;
      padding: 0.5rem !important;
      border-radius: 0;
    }
    p {
      margin-top: 0;
      margin-bottom: 0 !important;
    }
  }
}

.pagination {
  margin-top: 0;
  margin-bottom: 0 !important;
  border: 1px solid #008cba;
}

.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link,
.pagination-lg .page-item:first-child .page-link,
.pagination-lg .page-item:last-child .page-link,
.pagination-sm .page-item:first-child .page-link,
.pagination-sm .page-item:last-child .page-link {
  border-radius: 0 0 0 0;
}
.pagination .page-link {
  border-color: transparent;
  color: #008cba;
  border-radius: 0 0 0 0;
  margin-left: 0.1em;
  margin-right: 0.1em;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #008cba;
  border-color: #0079a1;
  border-radius: 0 0 0 0;
}

//*** ------------- Screen de type "sm" et inférieur ---------------- ***//
@media (min-width: 768px) {
  body{
    font-size: 0.9rem;
  }
  #side{
    width: $width-side-large;
    height: 100vh;
  }
  #content{
    width: $width-content-large;
    height: 100vh;
    overflow-y: scroll;
  }
  #listephoto{
    .card-img-overlay {
      position: absolute;
      right: 0 !important;
      bottom: 0 !important;
      padding: 0.5rem !important;
      border-radius: 0;
    }
  }
}

