#action_property{
  ul{
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate(0px, 33px);
    border: 1px solid darkgray;
  }
}

#action_registre{
  ul{
    position: absolute;
    inset: 0px 0px auto auto;
    margin: 0px;
    transform: translate(0px, 33px);
    border: 1px solid darkgray;
  }
}