table{
  font-size: 0.8rem;
  thead{
    tr{}
    td{}
  }
  tbody{
    border-top: 1px solid #7c7c7c;
    border-bottom: 1px solid #7c7c7c;
    tr{
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      td{
        p{
          font-size: 0.8rem;
        }
        color : #2e2e2e;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        h1,h2,h3,h4,h5,h6{
          margin-top: 0.3rem;
          margin-bottom: 0.3rem;
        }
        .input-group{
          font-size: 0.8rem;
          padding-top: 0.1rem;
          padding-bottom: 0.1rem;
        }
        .form-label{
          margin-bottom: 0;
        }
        textarea{

        }
      }
    }

  }
}
