<form method="post" action="{{ path('app_gestapp_choice_denomination_delete', {'id': denomination.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ denomination.id) }}">
    <button class="btn">Delete</button>
</form>
