{% extends 'admin.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Tableau de bord</h1>
                <p>{{ app.user.firstName|capitalize }}, bienvenue sur votre espace de travail.</p>
            </div>
        </div>
    </div>
{% endblock %}
