{{ form_start(form, {'attr': {'id':'FormPublication'}}) }}
    {% include('include/form/oneSwitch.html.twig') with {
        'form_label':form_label(form.isWebpublish, '', {'label_attr': {'class':'form-check-label'}}),
        'form_switch':form_widget(form.isWebpublish, {'attr': {'class': 'form-check-input'}})
    }
    %}

{% include('include/form/oneSwitch.html.twig') with {
    'form_label':form_label(form.isSocialNetwork, '', {'label_attr': {'class':'form-check-label'}}),
    'form_switch':form_widget(form.isSocialNetwork, {'attr': {'class': 'form-check-input'}})
}
%}

<div class="mb-1">
    {% include('include/form/select.html.twig') with {
        'form_label':form_label(form.sector, '', {'label_attr': {'class':'col-sm-4 col-form-label'}}),
        'form_select':form_widget(form.sector)
    }
    %}
</div>

<div class="row mt-2">
    <div class="col-12">
        <div class="mt-1">
            <a id="stepBack" href="#" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-backward-step"></i> Retour</a>
            <button type="submit" id="stepPublication" class="btn btn-sm btn-outline-primary">{{ button_label|default("Valider et finaliser la modification d'un bien") }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
