{% if form_label is not defined %}
<div class="row">
    <div class="col-sm-9">
    </div>
</div>
{% else %}
<div class="row">
    {{ form_label|raw }}
    <div class="col-sm-4">
        {{ form_input|raw }}
    </div>
</div>
{% endif %}

