<div class="row">
    <div class="col-12">
        <fieldset>
            <div class="form-check form-switch">
                {{ form_switch|raw }}
                {{ form_label|raw }}
            </div>
        </fieldset>
    </div>
</div>