<div class="row">
    <div class="col-sm-6">
        <fieldset>
            <div class="form-check form-switch">
                {{ form_switch|raw }}
                {{ form_label|raw }}
            </div>
        </fieldset>
    </div>
    <div class="col-sm-6">
        <div class="col-sm-8">
            {{ form_input|raw }}
        </div>
    </div>
</div>