<form method="post" action="{{ path('app_gestapp_choice_other_option_delete', {'id': other_option.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ other_option.id) }}">
    <button class="btn">Delete</button>
</form>
