<tr class="align-middle" id="rowInvoicePdf">
    <td class="table-light">Dépot de facture : </td>
    <td>
        <span id="rowEmptyInvoicePdf">-</span>
        <div class="input-group w-100">
            <button class="btn btn-sm btn-secondary d-none" type="button" id="btnAddInvoicePdf"><i class="fa-light fa-check"></i></button>
        </div>
    </td>
    <td>
    </td>
</tr>
