<div id="header" class="row align-items-center">
    <div class="col-3">
        <img class="img-fluid" src="{{ absolute_url(asset('images/png/LogoPAPSimmo.png'))}}" alt="{{ application.nameSite }}">
    </div>
    <div class="col-7">
        <h1 class="title-h1" style="text-align: center">FICHE PROPRIETE</h1>
    </div>
    <div class="col-2">
        <p class="text-end">MANDAT N° : {{ property.refMandat }}</p>
        <p class="text-end">Dossier édité le : {{ 'now'|date('Y-m-d') }}</p>
    </div>
</div>