<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: comfortaa-light, sans-serif">
    <div style="border-top: 1px solid;">
        <h1 style="text-align: center; font-size: 1rem">SAS PAPs immo</h1>
        <p style="text-align: center; font-size: 0.8rem">Au capital de 1 000€ RDC 908 628 936 <br>Carte professionnelle N° CP 6401 2022 000 000 004 délivré par la CCI de Bayonne </p>
    </div>
</body>
</html>