{{ form_start(form) }}
<div class="row">
    <div class="col-12">
        <p class="modal-text">Veuillez sélectionnée la date de fin de mandat.</p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        {{ form_widget(form.dateEndmandat, {'attr': {'class': 'form-control form-control-sm flatpickr flatpickr-input'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p class="modal-text">En validant, ce bien sera mis en archive et ne sera plus publié chez nos partenaires et notre site.</p>
    </div>
</div>
{{ form_end(form) }}
