<div class="row">
    <div class="col-12">
        <h3>NOS DERNIERS BIENS</h3>
    </div>
</div>

<div class="row mb-4">

    <div class="col-sm-12">
        <!-- Flickity HTML init -->
        <div class="carousel" data-flickity='{ "groupCells": true }'>
            {% for property in properties %}
                {% if property.imageName is not null %}
                    <img class="img-fluid" src="{{ vich_uploader_asset(property) }}" alt="{{ property.name }}" height="100px">
                {% else %}
                    <img class="img-fluid" src="{{ asset('images/png/mod_maison.png') }}" alt="{{ property.name }}" height="100px">
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
