{% extends 'admin.html.twig' %}

{% block title %}Property index{% endblock %}

{% block contentTitle %}
    <div class="row">
        <div class="col-sm-12">
                <h1>Liste des biens</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ render(controller('App\\Controller\\Gestapp\\PropertyController::inCreating')) }}
    <a href="{{ path('op_gestapp_property_add') }}" class="btn btn-sm btn-outline-secondary">Ajouter un nouveau bien</a>
    <div class="row">
        <div id="list" class="col-sm-12">
            {% include('gestapp/property/_list.html.twig') %}
        </div>
    </div>
    <a href="{{ path('op_gestapp_property_new') }}" class="btn btn-sm btn-outline-secondary">Ajouter un nouveau bien</a>
{% endblock %}
